<footer> 
<div class="contactos"> 
    <ul class="logos">

        <li>
            <div class="img-area"> 
            <a href="https://www.facebook.com/martin.maine/" target="_blank"> 
                <img src="../../../assets/facebook.svg" class="uno"> 
            </a>
            </div>
        </li>

        <li><a href="https://www.instagram.com/tincho.maine/" target="_blank"><img src="../../../assets/instagram.svg"></a></li>

        <li><a href="*"><img src="../../../assets/mail.svg"></a></li>

        <li><a href="https://github.com/martinmaine/"  target="_blank"><img src="../../../assets/github.svg"></a></li>

        <li><a routerLink="*"><img src="../../../assets/whatsapp.svg"></a></li>
   </ul>
</div>
</footer>