<body> 

    <div class="contenedor">
        <div class="texto">
            <h2> Estudios </h2>
            <p> Programación Web Inicial – UTN Buenos Aires <br>
                Programación Web Avanzada – UTN Buenos Aires<br>
                Primera Etapa Argentina Programa #SéProgramar – INTI. Ministerio de Economía Argentina. Secretaría de Industria y Desarrollo Productivo. CESSI. <br>
                Segunda Etapa Argentina Programa #YoProgramo – INTI. Ministerio de Economía Argentina. Secretaría de Industria y Desarrollo Productivo. CESSI. <br>
                Inglés B1. Nivel 4. Regencia del Departamento Cultural de la Facultad de Lenguas de la Universidad Nacional de Córdoba. 
                </p>
        </div>
        
    
    </div>
    </body>