<body> 

<section class="container">
    <div class="content">
        <h1 class="titulos">FULL STACK DEVELOPER</h1>
        <p> Mi nombre es Martín y soy desarrollador <span> full stack</span>. <br>
            Esto quiere decir, que me he preparado para entender y poder realizar el proceso de creación y mantenimiento de un producto web de principio a fin. </p>
    </div>
</section>

<section class="container">
    <div class="content">
        <h1>Front End</h1>
        <p> Encontré en la programación una forma de integrar mi especial interés por el diseño. Como desarrollador manejo lenguajes como HTTP, CSS y JS y frameworks como Angular y React. 
            <br> Además de la programación front end, cuento con conocimientos de diseño UI (manejo de herramientas Adobe como Xd, Photoshop, Illustrator, After Effect, Premiere, entre otras) y maquetación de aplicaciones web.      
            </p>
    </div>
</section>

<section class="container">
    <div class="content">
        <h1>Back End</h1>
        <p> Como desarrollador del lado del servidor, puedo crear APIs que permitan la conexión a las bases de datos. Los lenguajes que utilizo son Node JS y Java.</p>
    </div>
</section>

<section class="container">
    <div class="content">
        <h1>Data Base Administrator</h1>
        <p> Cuento con conociemintos para diseñar, implementar, mejorar y mantener un sistema de base de datos, sean relacionales como no relacionales. Utilizando herramientas como MySql, MongoDB y Firebase.  </p>
    </div>
</section>

<section class="container">
    <div class="content">
        <h1>Estudiante </h1>
        <p>Por último, soy consciente de los permanentes cambios y evolución en los diferentes lenguajes de programación, lo que, acompañado de un gran interés por el aprendizaje, me obliga a <span> estar actualizado</span> constantemente. <br>  </p>
    </div>
</section>

<div id="set-height"></div>

<video id="intro" tabindex="0" autobuffer preload>
  <source src="/assets/intro.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
</video>

</body>