body {
    margin-top: 100px;
}

.contenedor{
    display: flex;
}

.texto {
    margin-top: 100px;
    margin-left: 50px;
}
h2 {
    font-size: 2.5em;
    color: #8DC3F2;
    letter-spacing: 3px ;
    display: inline-block;
    border-radius: 0px;
    margin-left: 15px;
}

p {
    font-size: 1em;
color: white;
padding: 10px 15px;
width: 85%;
}

a {
    margin-left: 20px;
    font-size: 1em;
    color: #8DC3F2; 
    text-decoration: none;
    }

a:hover {
    color: white;
}